.title-card
{
    margin-left: 65px;font-size: 25px;
}
.card-text
{
    margin-left: 92px;
}
.Hold
{
    margin-left: 80px; padding-bottom: 20px;
}

.btn-group
{
    margin-left: 10px;
}
body
{
 align-self: center;
        
      
}
